<template>
  <div class="flight-select">
    <Header class="flight-select__header">
      <div class="flight-select__header__title">
        <div class="flight-select__header__title__origin">
          <span class="flight-select__header__title__origin--small-letter"
            >LEAVING FROM</span
          >
          <span class="flight-select__header__title--medium-letter">{{
            iataToCity(from)
          }}</span>
        </div>
        <div class="flight-select__header__title__arrows">
          <img :src="require('../assets/white-arrow.svg')" />
          <img
            v-if="inBound.length"
            :src="require('../assets/white-arrow.svg')"
          />
        </div>
        <div
          class="flight-select__header__title__destination flight-select__header__title-mediumletter"
        >
          {{ iataToCity(to) }}
        </div>
      </div>
    </Header>
    <div class="flight-select__main">
      <div class="flight-select__main__title">
        <img :src="require('../assets/plane.svg')" />
        <span>SELECT FLIGHT</span>
      </div>
      <div class="flight-select__main__basket">
        <Basket
          :selectedOutBound="selectedOutBound"
          :selectedInBound="selectedInBound"
          @onClick="onClickPayment"
        ></Basket>
      </div>
      <div class="flight-select__main__flights">
        <FlightTable
          @fareSelect="
            data => {
              onFareSelect(data, true);
            }
          "
          :origin="iataToCity(from)"
          :destination="iataToCity(to)"
          :bounds="outBound"
          :disabledSearch="true"
        >
          Outbound
        </FlightTable>
        <FlightTable
          @fareSelect="
            data => {
              onFareSelect(data, false);
            }
          "
          :origin="iataToCity(to)"
          :destination="iataToCity(from)"
          :bounds="inBound"
          @onClick="onSearch"
        >
          Inbound
        </FlightTable>
      </div>
    </div>
    <div v-if="isPayment" class="flight-select__payment--bg">
      <div class="flight-select__payment__modal">
        <div class="flight-select__payment__modal__header">
          THANKS FOR BUYING YOUR TICKETS AT MITO AIRLINES
        </div>
        <div class="flight-select__payment__modal__content">
          <Item v-if="selectedOutBound" :item="selectedOutBound"></Item>
          <Item v-if="selectedInBound" :item="selectedInBound"></Item>
        </div>
        <div class="flight-select__payment__modal__footer">
          <div class="flight-select__payment__modal__footer__total">
            TOTAL: <span>${{ countTotalAmount() }}</span>
          </div>
          <div>
            <router-link
              to="/"
              class="flight-select__payment__modal__footer__link"
            >
              NO, THANKS (RESET)
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header";
import Basket from "../components/Basket";
import FlightTable from "../components/FlightTable";
import Item from "../components/Item";

export default {
  name: "FlightSelect",
  components: {
    Header,
    Basket,
    FlightTable,
    Item
  },
  data() {
    return {
      selectedOutBound: null,
      selectedInBound: null,
      isPayment: false
    };
  },
  created() {
    this.getStations();
    this.getSearchedOutBoundFlight({
      from: this.$route.query.from,
      to: this.$route.query.to,
      date: this.$route.query.departure
    });
    if (this.$route.query.arrival) {
      this.getSearchedInBoundFlight({
        from: this.$route.query.to,
        to: this.$route.query.from,
        date: this.$route.query.arrival
      });
    }
  },
  computed: {
    from() {
      return this.$route.query.from;
    },
    to() {
      return this.$route.query.to;
    },
    stations() {
      return this.$store.state.stations;
    },
    outBound() {
      return this.$store.state.searchedOutBoundFlight;
    },
    inBound() {
      return this.$store.state.searchedInBoundFlight;
    }
  },
  methods: {
    onFareSelect(data, isOutBound) {
      if (isOutBound) {
        data.from = this.iataToCity(this.from);
        data.to = this.iataToCity(this.to);
        this.selectedOutBound = data;
      } else {
        data.from = this.iataToCity(this.to);
        data.to = this.iataToCity(this.from);
        this.selectedInBound = data;
      }
    },
    getStations() {
      this.$store.dispatch("getStations");
    },
    getSearchedOutBoundFlight(payload) {
      this.$store.dispatch("getSearchedOutBoundFlight", payload);
    },
    getSearchedInBoundFlight(payload) {
      this.$store.dispatch("getSearchedInBoundFlight", payload);
    },
    onSearch(selectedDate) {
      this.getSearchedInBoundFlight({
        from: this.to,
        to: this.from,
        date: selectedDate
      });
    },
    iataToCity(iata) {
      const station = this.stations.find(station => station.iata === iata);
      if (!station) {
        return "";
      }
      return station.shortName;
    },
    onClickPayment() {
      this.isPayment = true;
      console.log(this.from);
      console.log(this.to);
      console.log(this.stations);
    },
    countTotalAmount() {
      if (!this.selectedOutBound && !this.selectedInBound) {
        return 0;
      }
      if (!this.selectedInBound) {
        return this.selectedOutBound.price;
      }
      return this.selectedOutBound.price + this.selectedInBound.price;
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.flight-select {
  position: relative;

  .flight-select__header {
    .flight-select__header__title {
      display: flex;
      flex-direction: row;
      margin-left: 10%;
      color: $white;
      width: 100%;

      .flight-select__header__title__origin {
        display: flex;
        flex-direction: column;

        .flight-select__header__title__origin--small-letter {
          font-size: 12px;
        }
      }

      .flight-select__header__title__arrows {
        display: flex;
        flex-direction: column;
        margin: 0 5%;

        img {
          height: 1rem;
        }

        img:nth-child(2) {
          transform: rotate(180deg);
        }
      }

      .flight-select__header__title__destination {
        align-self: flex-end;
      }

      .flight-select__header__title--medium-letter {
        font-size: 20px;
      }
    }
  }

  .flight-select__main {
    display: grid;
    grid-template-columns: 15% 75%;
    grid-template-areas:
      "empty title "
      "sidebar timetable";
    padding: 0 2%;
    grid-column-gap: 5rem;

    .flight-select__main__title {
      grid-area: title;
      padding: 55px 0;

      span {
        font-size: 50px;
        color: $darkblue;
        padding-left: 25px;
      }
    }

    .flight-select__main__basket {
      border-top: 1px solid $grey;
      grid-area: sidebar;
      display: grid;
      grid-template-rows: auto auto;
      grid-row-gap: 2rem;
    }

    .flight-select__main__flights {
      grid-area: timetable;
    }
  }

  .flight-select__payment--bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    width: 100%;
    height: 100%;

    .flight-select__payment__modal {
      margin: 15% auto;
      width: 50%;
      max-width: 500px;
      border-radius: 3px;

      .flight-select__payment__modal__header {
        background-color: $whitesmoke;
        color: $darkblue;
        padding: 1rem 2rem;
      }

      .flight-select__payment__modal__content,
      .flight-select__payment__modal__footer {
        background-color: $white;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .flight-select__payment__modal__footer {
        font-weight: 700;

        .flight-select__payment__modal__footer__total {
          font-size: 20px;
          span {
            color: $darkblue;
          }
        }

        .flight-select__payment__modal__footer__link {
          font-size: 12px;
          color: $eggplant;

          &:visited {
            color: $eggplant;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .flight-select {
    .flight-select__main {
      display: flex;
      flex-direction: column;
      padding: 0 2%;

      .flight-select__main__title {
        padding: 55px 0;

        span {
          font-size: 50px;
          color: $darkblue;
          padding-left: 25px;
        }
      }

      .flight-select__main__basket {
        margin: 0 auto;
      }
    }
  }
}
</style>
