<template>
  <div class="home">
    <Search class="home__search"></Search>
  </div>
</template>

<script>
import Search from "../components/Search.vue";

export default {
  name: "Home",
  components: {
    Search
  }
};
</script>

<style scoped lang="scss">
.home {
  width: 100%;
  height: 100%;

  .home__search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 570px;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .home__search {
      width: 320px;
    }
  }
}
</style>
