<template>
  <div>
    <div class="basket">
      <div class="basket__header">
        <span class="basket__text">FLIGHTS</span>
        <span class="basket__text basket__text--blue"
          >${{ countTotalAmount() }}</span
        >
      </div>
      <div class="basket__content">
        <span
          v-if="selectedOutBound === null && selectedInBound === null"
          class="basket__text basket__text--grey"
          >Choose an outbound flight
        </span>
        <div class="basket__content__items">
          <Item v-if="selectedOutBound" :item="selectedOutBound"></Item>
          <Item v-if="selectedInBound" :item="selectedInBound"></Item>
        </div>
      </div>
      <div class="basket__footer">
        <span class="basket__text basket__text--white">TOTAL</span>
        <span class="basket__text basket__text--white"
          >${{ countTotalAmount() }}</span
        >
      </div>
    </div>
    <Button
      :disabled="!selectedInBound && !selectedOutBound"
      @click="onPaymentClick"
      value="PAY NOW"
    ></Button>
  </div>
</template>

<script>
import Button from "../components/Button";
import Item from "./Item";

export default {
  name: "Basket",
  props: ["selectedOutBound", "selectedInBound"],
  components: {
    Button,
    Item
  },
  methods: {
    countTotalAmount() {
      if (!this.selectedOutBound && !this.selectedInBound) {
        return 0;
      }
      if (!this.selectedInBound) {
        return this.selectedOutBound.price;
      }
      return this.selectedOutBound.price + this.selectedInBound.price;
    },
    onPaymentClick() {
      this.$emit("onClick");
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.basket {
  background-color: $white;
  margin-bottom: 20px;

  .basket__text {
    font-size: 14px;
    font-weight: 600;
  }
  .basket__text--white {
    color: $white;
  }

  .basket__text--blue {
    color: $darkblue;
  }

  .basket__text--grey {
    color: $suvagrey;
  }

  .basket__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
  }

  .basket__content {
    padding: 1rem;
  }

  .basket__footer {
    display: flex;
    justify-content: space-between;
    background-color: $darkblue;
    padding: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .basket__content__items {
    display: flex;
    flex-direction: row;
  }
}
</style>
