<template>
  <button
    v-on="$listeners"
    class="button"
    :class="{ 'button--grey': disabled }"
    :disabled="disabled"
  >
    {{ value }}
  </button>
</template>

<script>
export default {
  name: "Button",
  props: ["value", "disabled"]
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.button {
  background-color: $royalblue;
  border-radius: 5px;
  color: $white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 60px;

  &.button--grey {
    background-color: $silver;
  }
}
</style>
