<template>
  <div>
    <div class="table">
      <div class="table__header">
        <div class="table__text-grey"><slot /></div>
        <div class="table__header__route">
          <span> {{ origin }} </span>
          <img :src="require('../assets/arrow.svg')" />
          <span> {{ destination }} </span>
        </div>
      </div>
      <div v-if="bounds.length">
        <div class="table__selected">
          <div class="table__selected__previous">
            <img :src="require('../assets/chevron.svg')" />
            <span class="table__text-grey">Előző dátum</span>
          </div>
          <div>
            <span>{{ bounds[0].departure | moment("dddd, D MMMM YYYY") }}</span>
          </div>
          <div class="table__selected__next">
            <span class="table__text-grey">Következő dátum</span>
            <img :src="require('../assets/chevron.svg')" />
          </div>
        </div>
        <div v-for="(bound, i) in bounds" :key="bound.flightNumber">
          <div class="table__details">
            <span>
              {{ bound.departure | moment("HH:mm") }}
              <img :src="require('../assets/small-arrow.svg')" />
              {{ bound.arrival | moment("HH:mm") }}
            </span>
            <div
              v-for="fare in bound.fares"
              :key="fare.fareSellKey"
              class="table__details__bundlediv"
            >
              <span v-if="i === 0" class="table__details__bundlediv__bundle">{{
                fare.bundle
              }}</span>
              <span class="table__details__bundlediv__bundle--mobile">{{
                fare.bundle
              }}</span>
              <div>
                <PriceSelector
                  v-if="bound.remainingTickets"
                  @click="onSelect(fare, bound)"
                  :fare="fare"
                  :checked="fare.fareSellKey === selectedId"
                ></PriceSelector>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else-if="!disabledSearch" class="table__date-select">
        <Input
          v-model="selectedDate"
          type="date"
          :icon="require('../assets/calendar.svg')"
        />
        <Button
          @click="onClick"
          value="Search"
          class="table__date-select__button"
        ></Button>
      </div>
    </div>
  </div>
</template>

<script>
import PriceSelector from "./PriceSelector";
import Input from "./Input";
import Button from "./Button";

export default {
  name: "FlightTable",
  props: ["bounds", "origin", "destination", "disabledSearch"],
  components: {
    Input,
    Button,
    PriceSelector
  },
  data() {
    return {
      selectedId: "",
      selectedDate: ""
    };
  },
  methods: {
    onSelect(fare, bound) {
      this.selectedId = fare.fareSellKey;
      const data = {
        price: fare.price,
        departure: bound.departure,
        arrival: bound.arrival
      };
      this.$emit("fareSelect", data);
    },
    onClick() {
      this.$emit("onClick", this.selectedDate);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.table {
  margin-bottom: 3rem;

  .table__header {
    background-color: $whitesmoke;
    display: flex;
    flex-direction: row;
    padding: 15px;

    .table__header__route {
      display: flex;
      flex-direction: row;

      span {
        font-size: 20px;
        font-weight: 600;
        color: $darkblue;
        margin: 0 2rem;
      }
    }
  }

  .table__selected,
  .table__details {
    background-color: $white;
  }

  .table__selected {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .table__selected__previous,
    .table__selected__next {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        margin: 15px;
      }
    }

    .table__selected__previous {
      img {
        transform: rotate(180deg);
      }
    }
  }

  .table__details {
    border-top: 1px solid $lightgrey;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 25px 15px;
    justify-content: space-between;

    span {
      align-self: center;
    }

    .table__details__bundlediv {
      display: flex;
      justify-content: center;

      .table__details__bundlediv__bundle {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 5px;
      }

      .table__details__bundlediv__bundle--mobile {
        display: none;
      }
    }
  }

  .table__text-grey {
    color: $suvagrey;
    font-weight: 600;
    text-transform: uppercase;
  }

  .table__date-select {
    background-color: $white;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .table__date-select__button {
      width: 200px;
    }
  }
}

@media screen and (max-width: 786px) {
  .table {
    .table__header {
      display: flex;
      flex-direction: column;
    }

    .table__selected {
      display: flex;
      flex-direction: column;

      .table__selected__previous {
        align-self: flex-start;
      }

      .table__selected__next {
        align-self: flex-end;
      }
    }

    .table__details {
      display: flex;
      flex-direction: column;

      span {
        align-self: center;
        margin: 1rem;
      }

      .table__details__bundlediv {
        display: flex;
        flex-direction: column;
        align-items: center;

        .table__details__bundlediv__bundle {
          display: none;
        }

        .table__details__bundlediv__bundle--mobile {
          display: inline;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          top: 5px;
        }
      }
    }
  }
}
</style>
