<template>
  <div class="header">
    <img :src="require('../assets/logo.svg')" />
    <slot />
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.header {
  background-color: $darkblue;
  padding: 10px 15px;
  display: flex;
  align-content: center;

  img {
    width: 30px;
    height: 30px;
  }
}
</style>
