<template>
  <div class="input">
    <label :for="id" class="input__label-field">
      <input
        :id="id"
        placeholder=" "
        :value="value"
        @input="onChange"
        :class="{ errored: error }"
        :type="type || 'text'"
        autocomplete="off"
        :min="minDate"
      />
      <span v-if="!error" class="input__label-field__title"> {{ label }} </span>
      <span class="input__label-field__focus-bg"></span>
      <img class="input__label-field__icon" v-if="icon" :src="icon" />
      <div v-if="error" class="input__label-field__error">
        <img :src="require('../assets/warning.svg')" />
        <span> Please select {{ label }} </span>
      </div>
    </label>
    <div
      v-if="
        cities &&
          value.length &&
          (cities.length > 1 || (cities.length === 1 && cities[0] !== value))
      "
      class="input__origin"
    >
      <div class="input__origin__select">
        <div
          v-for="(city, i) in cities"
          :key="i"
          @click="selectCity(city)"
          class="input__origin__select__city"
        >
          {{ city }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Input",
  props: ["id", "icon", "label", "value", "error", "type", "cities", "minDate"],
  methods: {
    onChange(event) {
      this.$emit("input", event.target.value);
    },
    selectCity(city) {
      this.$emit("input", city);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.input {
  position: relative;
  margin: 1rem 0;
  width: 230px;
  max-width: 280px;

  * {
    box-sizing: border-box;
  }

  .input__label-field {
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    input {
      width: 100%;
      padding: 16px 40px 0 12px;
      height: 56px;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid $suvagrey;
      transition: all 0.15s ease;

      &:hover {
        background: rgba(0, 16, 75, 0.03);
      }

      &:focus {
        outline: none;
      }

      &:not(:placeholder-shown) + .input__label-field__title {
        color: $darkgrey;
        transform: translate3d(0, -12px, 0) scale(0.75);
      }

      &:focus + .input__label-field__title {
        font-weight: 700;
        text-transform: uppercase;
        transform: translate3d(0, -12px, 0) scale(0.75);
      }

      &:focus + .input__label-field__title + .input__label-field__focus-bg {
        transform: scaleX(1);
        transition: all 0.15s ease;
      }

      .errored {
        background-color: $lavender-blush;
        border: 2px solid $eggplant;
      }
    }

    .input__label-field__title {
      position: absolute;
      top: -5px;
      left: 12px;
      font-size: 16px;
      color: $darkgrey;
      font-weight: 500;
      transform-origin: 0 0;
      transform: translate3d(0, 0, 0);
      transition: all 0.2s ease;
      text-transform: uppercase;
    }

    .input__label-field__focus-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: left;
    }

    .input__label-field__icon {
      position: absolute;
      right: 10px;
      top: -10px;
    }

    .input__label-field__error {
      display: flex;
      padding-top: 10px;

      span {
        font-size: 13px;
        font-weight: 600;
        align-self: center;
        color: $eggplant;
        padding-left: 5px;
      }
    }
  }

  .input__origin {
    background-color: $white;
    width: 100%;
    position: absolute;
    border: 1px solid $lightgrey;
    top: 55px;
    z-index: 100;

    .input__origin__select {
      background-color: $white;
      border: 1px solid $suvagrey;
      position: absolute;
      width: 100%;
      top: 0;
      overflow-y: scroll;
      max-height: 195px;
    }

    .input__origin__select__city {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: $suvagrey;
      }
    }
  }
}
</style>
