<template>
  <div class="item">
    <div class="item__date">
      <div class="item__text--bold">{{ item.departure | moment("MMM") }}</div>
      <div class="item__text--bold">{{ item.departure | moment("DD") }}</div>
    </div>
    <div class="item_details">
      <span class="item__text--bold"> {{ item.from }} - </span>
      <span class="item__text--bold"> {{ item.to }}</span>
      <span class="item__text--bold item__text--small">
        {{ item.departure | moment("ddd HH:mm") }} -
        {{ item.arrival | moment("HH:mm") }}</span
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Item",
  props: ["item"]
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.item {
  display: flex;
  flex-direction: row;
  padding: 15px;
  min-width: 150px;

  .item__date {
    display: flex;
    flex-direction: column;
    border: 2px solid $gainsboro;
    align-items: center;

    div {
      padding: 3px;
    }

    div:nth-child(1) {
      background-color: $whitesmoke;
    }
  }

  .item_details {
    margin-left: 1rem;

    span {
      display: block;
    }
  }

  .item__text--bold {
    font-weight: 600;
  }

  .item__text--small {
    font-size: 12px;
    line-height: 1.6;
  }
}
</style>
