<template>
  <div
    class="price-selector"
    @click="onClick"
    :class="{ 'price-selector--checked': checked }"
  >
    <span> ${{ fare.price }}</span>
  </div>
</template>

<script>
export default {
  name: "PriceSelector",
  props: ["checked", "fare"],
  methods: {
    onClick() {
      this.$emit("click", this.fare);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.price-selector {
  height: 3rem;
  width: 10rem;
  border: 2px solid $eggplant;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  span {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.price-selector--checked {
  background-color: $eggplant;
  color: $white;
}
</style>
