<template>
  <div class="search">
    <Header>
      <span class="search__header__title"> Mito </span>
    </Header>
    <div class="search__main">
      <div class="search__main__direction">
        <Input
          id="1"
          label="Origin"
          :error="inputs.origin.error"
          v-model="inputs.origin.value"
          :cities="getCityNames()"
        />
        <Input
          id="2"
          label="Destination"
          :error="inputs.destination.error"
          v-model="inputs.destination.value"
          :cities="completeDestination()"
        />
      </div>
      <div class="search__main__date">
        <Input
          id="3"
          :icon="require('../assets/calendar.svg')"
          label="Departure"
          :error="inputs.departure.error"
          v-model="inputs.departure.value"
          type="date"
          :minDate="today"
        />
        <Input
          id="4"
          :icon="require('../assets/calendar.svg')"
          label="Return"
          :error="inputs.return.error"
          v-model="inputs.return.value"
          type="date"
          :minDate="inputs.departure.value"
        />
      </div>
      <div class="search__main__button">
        <Button @click="onSearch" value="SEARCH"></Button>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./Header";
import Input from "./Input";
import Button from "./Button";

export default {
  components: {
    Header,
    Input,
    Button
  },
  data() {
    return {
      title: "Mito airline",
      inputs: {
        origin: { value: "", error: false },
        destination: { value: "", error: false },
        departure: { value: "", error: false },
        return: { value: "", error: false }
      }
    };
  },
  created() {
    this.$store.dispatch("getStations");
    this.inputs.origin.value = localStorage.getItem("origin") || "";
    this.inputs.destination.value = localStorage.getItem("destination") || "";
    this.inputs.departure.value = localStorage.getItem("departure") || "";
    this.inputs.return.value = localStorage.getItem("return") || "";
  },
  computed: {
    stations() {
      return this.$store.state.stations;
    },
    today() {
      return new Date().toISOString().split("T")[0];
    }
  },
  methods: {
    onSearch() {
      const departure = this.inputs.departure.value;
      const returnDate = this.inputs.return.value;
      for (let input in this.inputs) {
        this.inputs[input].error = false;
      }
      if (!this.inputs.origin.value) {
        this.inputs.origin.error = true;
      }
      if (!this.inputs.destination.value) {
        this.inputs.destination.error = true;
      }
      if (!departure || new Date(departure) < new Date()) {
        this.inputs.departure.error = true;
      }
      if (returnDate && new Date(returnDate) < new Date(departure)) {
        this.inputs.return.error = true;
      }
      if (this.isFormValid()) {
        localStorage.setItem("origin", this.inputs.origin.value);
        localStorage.setItem("destination", this.inputs.destination.value);
        localStorage.setItem("departure", this.inputs.departure.value);
        localStorage.setItem("return", this.inputs.return.value);
        this.$router.push({
          path: "/flights",
          query: {
            from: this.cityToIata(this.inputs.origin.value),
            to: this.cityToIata(this.inputs.destination.value),
            departure: this.inputs.departure.value,
            arrival: this.inputs.return.value
          }
        });
      }
    },
    isFormValid() {
      let valid = true;
      for (let input in this.inputs) {
        if (this.inputs[input].error) {
          valid = false;
          break;
        }
      }
      return valid;
    },
    findStationByShortName(city) {
      const stations = this.stations.find(station =>
        station.shortName.toLowerCase().startsWith(city.toLowerCase())
      );
      if (!stations || !city) {
        return null;
      } else {
        return stations;
      }
    },
    cityToIata(city) {
      const station = this.findStationByShortName(city);
      if (!station) {
        return "";
      }
      return station.iata;
    },
    iataToCity(iata) {
      const station = this.stations.find(station => station.iata === iata);
      if (!station) {
        return "";
      }
      return station.shortName;
    },
    completeDestination() {
      if (!this.inputs.origin.value) {
        return [];
      }
      const station = this.findStationByShortName(this.inputs.origin.value);
      if (!station) {
        return [];
      }
      const cityNames = station.connections.map(connection =>
        this.iataToCity(connection.iata)
      );
      return cityNames.filter(cityName =>
        cityName
          .toLowerCase()
          .startsWith(this.inputs.destination.value.toLowerCase())
      );
    },
    getCityNames() {
      return this.stations
        .map(station => station.shortName)
        .filter(cityName =>
          cityName
            .toLowerCase()
            .startsWith(this.inputs.origin.value.toLowerCase())
        );
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/_colors";

.search {
  box-shadow: 5px 5px 20px $darkgrey;

  .search__header__title {
    color: $white;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    align-self: center;
    padding-left: 15px;
  }

  .search__main {
    background-color: $white;
    padding: 25px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search__main__direction,
    .search__main__date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .search__main__button {
      margin: 0 auto;
      width: 45%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .search {
    .search__main {
      .search__main__direction,
      .search__main__date {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
</style>
