<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: url("./assets/background.svg") no-repeat center center fixed;
  background-size: cover;
  background-color: #f2f2f2;
  margin: 0;
}
</style>
