$royalblue: #3434e0;
$silver: #c1c1c1;
$white: white;
$darkblue: #06038d;
$suvagrey: #919191;
$whitesmoke: #f2f2f2;
$lightgrey: #d3d3d3;
$darkgrey: #a9a9a9;
$lavender-blush: #fff2fa;
$eggplant: #c6007e;
$gainsboro: #e1e1e1;
$grey: #808080;
